.sel_lang {
    background-color: black;
    font-family: Franchise Bold;
    text-overflow: clip;
    height: 15vh;
    width: 100%;
}

.sel_lang_child {
    height: 100%;
    vertical-align: middle;
    padding-top: 3.75vh;
}

.container_event {
    width: 100%;
    background-color: black;
    position: fixed;
}

div.cards{
    background-color: black;
    height: 65;
    width: 80vw;
    object-fit: cover;
    overflow: hidden;
    padding-top: 2vh;
    padding-bottom: 1vh;
    padding-left:10vw;
    padding-right: 10vw;
}