.up {
    height: 75px;
    background color: transparent;
    font-family: Franchise Bold;
    width: 100%;
}

.event_holder {
    font-family: Open Sans Light;
    background: white;
    width: 100%;
    height: 60vh;
    opacity: 1;
}

div.event {
    font-family: Open Sans Light;
    width:100%;
    height: 100%;
    display:block;
    vertical-align: middle;
}

div.event_win{
    font-family: Open Sans Light;
    height: 60vh;
    width: 80%;
    position: absolute;
    background-color: white;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#window2, #window3, #window4 {
    display: none;
}

.arrownext {
    background-color: white;
    opacity: 1;
    height: 50px;
    width: 50px;
    position: absolute;
    right:0;
    margin-top: 25vh;
    z-index: 2;
}

.arrowback {
    background-color: white;
    opacity: 1;
    height: 50px;
    width: 50px;
    position: absolute;
    left:0;
    margin-top: 25vh;
    z-index: 2;
}

div.subbtn{
    margin-right: 5px;
    margin-top: 5px;
    height: 35px;
    width: 100px;
    border-color: black;
    border-radius: 5px;
    border-width: 3px;
    border-style: solid;
    color: black;
    font-family: Franchise Bold;
    font-size: 200%;
    text-align: center;
    vertical-align: middle;
    float: right;
    position: absolute;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
}

div.subbtn:hover{
    color: white;
    background-color: black;
    cursor: default;
}