html {
    cursor: default;
}


.up {
    height: 75px;
    background-color: transparent;
    font-family: Franchise Bold;
    width: 100%;
    z-index: 2;
    position: fixed;
    margin: 0;
}

body,html {
    background: white;
    margin: 0;
}

h2 {
    color: black;
    font-family: Franchise Bold;

}

p {
    color: black;
    text-align: left;
}

._event_class {
    font-family: Open Sans Light;
    color: black;
    height: auto;
    overflow: hidden;
    width: 97%;
    padding-left: 3%;
    min-height: 30vh;
}

.events {
    width: 97%;
    padding-left: 3%;
    color: black;
    font-family: Open Sans Light; 
    height: auto;
    min-height: 50vh;
}

.event_container {
    top: 0;
    background-color: rgba(0,0,0,0.5);
    opacity: 1;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 4;
    display: none;
}

.event_win {
    text-align: center;
    height: 80vh;
    width: 80%;
    margin: auto;
    background-color: white;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    position: relative;
    z-index: 5;
    margin-top: auto;
    overflow-y: scroll;
    margin-top: -40vh;
}

.cross {
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: transparent;
    top: 0;
    right:0;
}

img.cross_img {
    height: 32px;
    width: 32px;
    margin-top: 8px;
}

.cross:hover {
    background-color: black;
}

a._link{
    text-decoration: none;
    color: black;
}

a._link:hover {
    color: dimgrey;
}

div.subbtn{
    margin-right: 5px;
    margin-top: 5px;
    height: 35px;
    width: 100px;
    border-color: black;
    background-color: white;
    border-radius: 5px;
    border-width: 3px;
    border-style: solid;
    color: black;
    font-family: Franchise Bold;
    font-size: 225%;
    text-align: center;
    vertical-align: middle;
    float: left;
    line-height: 95%;
    
}

.event_win::-webkit-scrollbar {
    width: 5px;
}

.event_win::-webkit-scrollbar-thumb{
    background-color: grey;
}

.event_win::-webkit-scrollbar-track{
    background-color: lightgrey;
}

div.subbtn:hover{
    color: white;
    background-color: black;
    cursor: default;
}

div.event_txt {
    margin: 3vh 0 3vh 0;
    width: 46%;
    padding: 2%;
    float: left;
    height: auto;
}

div.event_img {
    margin: 3vh 0 3vh 0;
    width: 50%;
    float: right;
    height: auto;
    object-fit: cover;
    overflow: hidden;
}

img.event_img {
    width: 90%;
    height: auto;
}

a {
    text-decoration: none;
    color: dimgrey;
}

a:visited {
    color: dimgrey;
}

@media only screen and (max-device-aspect-ratio: 9/15){
    div.event_txt{
        width: 100%;
        overflow-x: hidden;
    }
    div.event_img{
        width: 100%;
        overflow-x: hidden;
    }
    
.event_win::-webkit-scrollbar {
    display: none;
}

}
